.order{
    margin: 0 auto;
    height: fit-content;
    background-color: #F2F4F7;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 40px 40px;
    width: 1160px;
  
  }
  .order>h1{
    text-align: center;
    padding-top: 33px;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #14233D;
    margin-bottom: 52px;
  }
  .caption, .orderItem{
    display: grid;
    grid-template-columns: 1fr 9fr 1fr 1fr 1fr 3fr;
    gap: 40px;
  }
  .caption>p, .total{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #ABB1C5;
  }
  .caption>p:last-child{
    text-align: right;
  
  }
  .orderDiv{
    margin-top: 13px;
    display: grid;
    gap: 30px;
  }
  .orderItem>div{
    width: 60px;
  }
  .orderItem>div>img{
    width: 100%;
  }
  .orderItem>p{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #14233D;
  }
  
  .orderItem>input[type="checkbox"]{
    width: 34px;
    height: 34px;
  }
  
  .orderItem>span, .totalCount, .totalCount>p:last-child{
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    text-align: right;
    color: #297FFF;
  }
  
  .orderBottom{
    display: flex;
    justify-content: space-between;
  }
  
  .totalDiv{
    width: 285px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  .divImg{
    width: 215px;
  }
  .divImg>img{
    width: 100%;
  }
  .total>p:last-child{
    margin-top: 11px;
  }
  .totalCount>p{
    font-weight: 500;
    color: #14233D;
  }
  .totalCount>p:last-child{
    margin-top: 11px;
  }
  
  @media(max-width: 1152px) { 
    .order {
      width: 1092px;
      padding: 33px 30px 40px;
    }
  }
  
  @media(max-width: 1024px){
    .order {
      width: 992px;
      padding: 33px 16px 40px;
  }
  .totalDiv {
    width: 250px;
  }
  }
  @media(max-width: 800px){
    .caption, .orderItem {
      display: grid;
      grid-template-columns: 1fr 4fr 1fr 1fr 1fr 2fr;
      gap: 31px;
  }
  .order {
    width: 770px;
    padding: 32px 15px 40px;
  }
  .order>h1 {
    padding-top: 5px;
    font-size: 36px;
  }
  .caption>p{
    font-size: 12px;
  
  }
  .caption>p:first-child{
    width: 60px;
  }
  }
  
  @media(max-width: 768px){
  .order {
    width: 738px;
  }
  .totalDiv {
    width: 233px;
  }
  }
  
  @media(max-width: 426px){
  .caption, .orderItem {
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
  }
  .orderDiv, .orderItem, .order {
    width: 395px;
  }
  .caption>p, .total>p{
    font-size: 10px;
  }
  .caption>p:first-child{
    width: 51px;
  }
  .orderItem>div{
    width: 45px;
  }
  .orderItem>p{
    font-size: 12px;
  }
  .orderItem>span{
    font-size: 15px;
  }
  .orderItem>input[type="checkbox"]{
    width: 25px;
    height: 25px;
  }
  .order>h1 {
    font-size: 29px;
  }
  .caption, .orderItem {
    gap: 5px;
  }
  .orderBottom {
    align-items: flex-end;
    flex-direction: column;
  }
  .divImg{
    margin-bottom: 10px;
  }
  .totalCount>p:last-child, .totalCount>p {
    font-size: 15px;
  }
  .totalDiv {
    width: 181px;
  }
  }
  
  @media (max-width: 376px){
  .orderDiv, .orderItem, .order {
    width: 345px;
  }
  .order>h1 {
    font-size: 27px;
  }
  .divImg {
      margin-bottom: 10px;
  }
  .divImg {
      width: 185px;
  }
  }
  
  @media (max-width: 320px){
    
  .orderDiv, .orderItem, .order {
    width: 300px;
  }
  .order {
    padding: 24px 10px 36px;
  }
  .order>h1 {
    font-size: 24px;
  }
  .caption>p:first-child{
    width: 40px;
  }
  .orderItem>input[type="checkbox"]{
    width: 25px;
    height: 25px;
  }
  .divImg {
    width: 165px;
  }
  }