*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    list-style-type: none;
}
footer{
    background-color: #272934;
    color: #F2F4F7;
}
.footerMain{
    max-width: 1162px;
    margin: 0 auto;
    padding: 53px 0 55px 0;
}
.footerTop, .footerTopUl, .footerBottom, .footerBottomP, .social{
    display: flex;
    justify-content: space-between;
}
li, p, .facebook, .insta{
    cursor: pointer;
    padding: 5px;
}
.footerTop{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 26px;
}
.footerTop>p{
   color: #FFFFFF; 
}
.footerTopUl{
    font-size: 16px;
    width: 547px;
}
.footerMiddleUl{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
}
.footerBottom{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: flex-start;
    flex-direction: column;
}
.footerBottomP{
    margin-top: 30px;
    width: 100%;
}
.footerBottomP>p{
    color: #FFFFFF;
}
.footerBottomP>p:nth-child(1){
    cursor: default;
}
.social{
    width: 100px;
}
.facebook, .insta{
    width: 35px;
    height: 35px;
}
@media(max-width: 1152px){
    .footerMain{
        padding: 53px 20px;
    }
}
@media(max-width: 800px){
    .footerTop, .footerTopUl{
        flex-direction: column;
    }
    .footerTopMiddle{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .facebook, .insta{
        width: 20px;
        height: 20px;
    }
}
@media(max-width: 425px){
    .footerTopMiddle{
        display: grid;
        grid-template-columns: 1fr;
    }
    .footerTopUl{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 390px;
    }
    .footerBottom{
        margin-top: 20px;
        align-items: flex-start;
        flex-direction: column;
    }
    .footerBottomP{
        margin-top: 30px;
        width: 400px;
    }
    .social{
        width: 80px;
    }
}
@media(max-width: 375px){
    .footerBottomP{
        width: 350px;
    }
    .footerTopUl{
        width: 340px;
    }
}
@media(max-width: 320px){
    .footerBottomP{
        width: 290px;
    }
    .footerTopUl{
        width: 280px;
    }
}